
article{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 1s ease;
}
$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;
HTML{
    font-size: 15px;
}
body{
    background: $principal;
    font-family: 'Open Sans', sans-serif;
}
.bienvenidos{
    background: url("../images/fondo-encabezado.jpg") no-repeat center top;
background-size: cover;
height: 100vh;

}
.encavezado{
    background: $texto;
    color: #fff;
    padding: 0.5rem;
}
.encavezado .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encavezado .logo img{
    width: 150px;
    height: auto;
}
/*estilos para el boton buscar y menu*/
.boton-Buscar, .boton-menu{
    border: o;
    font-size: 2rem;
    margin: 0;
    padding: o .5rem;
    background: transparent;
    color: #fff;
}

.boton-Buscar:focus, .boton-menu:focus{
outline: 0;
}
.contenedor-bloque-buscar{
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"]{
    border: 0;
  border-radius: 5px 0 0 5px;
    padding: 1rem;
}

.contenedor-bloque-buscar input[type="submit"]{
    flex:1 1 auto;
    border: 0;
  border-radius: 0 5px 5px 0;
    background: $principal;
    color:#fff;
}
#menu-principal{
    flex: 1 1 100%;

}

#menu-principal ul {
padding: 0;
list-style: none;
margin: 1rem 0 0 0;

}

#menu-principal ul a {
    display: block;
  
        display: block;
        padding: .5rem 0;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        border-top: 1px solid #4Bc;
    }


    
#menu-principal ul a:hover,
#menu-principal ul li.active a{
   
        color: $principal;
       
    

}
.texto-encavezado .display-4 {
    margin-top: 5rem;
}

.btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    margin-top: 1rem;
    transition: all .5s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
 
    background-color: $secundario;
    border-color: transparent;
    margin-top: 1rem;
}


.flecha-bajar a {
 
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: flecha-animada 1.5s ease-in-out infinite;
}
@keyframes flecha-animada{
    from{
        transform: translateY(0)
    }
    50%{
        transform: translateY(6px)
    }
    to{
        transform: translateY(0)
    }
}